html {
	margin: 0;
	padding: 0;
}
body {
	width: 2000px;
	height: 2000px;
	font-family: Gill Sans, sans-serif;
/*	font-family: Century Gothic, sans-serif;*/
/*	font-family: Lucida Console, Monaco, monospace;*/
	color: #444444;
	background: #EBE0CC;
	margin: 0;
	padding: 0;
}