html {
	margin: 0;
	padding: 0;
}
body {
	font-family: sans-serif;
/*	font-family: Century Gothic, sans-serif;*/
/*	font-family: Lucida Console, Monaco, monospace;*/
	color: #444444;
	background: none;
	margin: 0;
	padding: 0;
}

body #map, #about {
	background: #eee;
}

.yes {
	position: absolute;
	bottom: 0;
}